<?xml version="1.0"?>
<!--
/**
 * @author Linchpin
 * @copyright Copyright (c) 2017 Linchpin (https://linchpin.agency)
 * @package Linchpin_ResetFreePromo
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Linchpin_AdvancedSorting" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
